<h3>Learn Flex</h3>
<hr>
<h5>Flex-Direction</h5>
<p>By default will row </p>
<pre> flex-direction: row;</pre>
<div class="item-1 exp1">
    <div>one</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
</div>
<br>
<pre>flex-direction: row-reverse;</pre>
<div class="item-1 exp2">
    <div>one</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
</div>
<br>
<pre>flex-direction: column;</pre>
<div class="item-1 exp3">
    <div>one</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
</div>
<br>
<pre>flex-direction: column-reverse;</pre>
<div class="item-1 exp4">
    <div>one</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
</div>
<br>
<hr>
<h5>Flex-wrap</h5>

<pre> flex-direction: row;</pre>
<div class="item-1 exp1">
    <div>one</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
</div>